::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #536DFE;
  border: 4px solid #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c4daf;
}

.info__avatar-logo {
  border: 5px solid #536DFE;
}
.info__title {
  color: #26272C;
}
.info__description {
  color: #979797;
}
.info .card__number {
  color: #26272C;
}
.info .card__description {
  color: #979797;
}
.info__cv-button {
  background: #536DFE;
  -webkit-box-shadow: 0px 0px 20px rgba(83, 109, 254, 0.5);
          box-shadow: 0px 0px 20px rgba(83, 109, 254, 0.5);
}
.info__switches {
  background: #C2C3C5;
}
.info__switches button {
  color: #26272C;
}
.info__portfolio-btn.active, .info__skills-btn.active {
  background: #fff;
}

.illustrate__portfolio-card {
  background-color: #979797;
}

.illustrate__card-info {
  background-color: #00000099;
}
.illustrate__card-info a {
  color: #fff;
  background: #536DFE;
}

.illustrate__card-title {
  color: #fff;
}

.illustrate__skills-title {
  color: #26272C;
}

.illustrate__skills-subtitle {
  color: #26272C;
}

.illustrate__skill-desctiption {
  color: #979797;
}

.footer {
  color: #979797;
}
.footer a {
  color: #979797;
}

.header__button-theme[data-theme=dark] {
  display: block;
}

.header__button-theme[data-theme=light] {
  display: none;
}