body{
	background: #262a41;
}
// скроллбар
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	background: #262a41;
}
::-webkit-scrollbar-thumb{
	background: #536DFE;
	border: 4px solid #262a41;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: #7287ff;
}
// стилизация секции info
.info{
	&__avatar-logo{
		border: 5px solid #536DFE;
	}
	&__title{
		color: #fff;
	}
	&__description{
		color: #979797;
	}
	.card{
		&__number{
			color: #fff;
		}
		&__description{
			color: #979797;
		}
	}
	&__cv-button{
		background: #536DFE;
		box-shadow: 0px 0px 20px rgba(83, 109, 254, 0.5);
	}
	&__switches{
		background: #373e64;
		button{
			color: #fff;
		}
	}
	&__portfolio-btn.active,
	&__skills-btn.active{
		background: #262a41;
	}
}
// стилизация секции illustrate
.illustrate__portfolio-card{
	background-color: #979797;
}
.illustrate__card-info{
	background-color: #00000099;
	a{
		color: #fff;
		background: #536DFE;
	}
}
.illustrate__card-title{
	color: #fff;
}
.illustrate__skills-title{
	color: #fff;
}
.illustrate__skills-subtitle{
	color: #fff;
}
.illustrate__skill-desctiption{
	color: #979797;
}
// стилизация footer
.footer{
	color: #979797;
	a{
		color: #979797;
	}
}
.header__button-theme[data-theme="dark"]{
	display: none;
}
.header__button-theme[data-theme="light"]{
	display: block;
}