@use 'sass:math';
@import 'variables.scss';
// подключение шрифта
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background-color: $body-background;
	color: #fff;
	font-weight: 300;
	overflow-x: hidden;
}
// настройка для прижатия footer к низу страницы
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
a{
	color: inherit;
}
// плавная прокрутка
html{
	scroll-behavior: smooth;
}
// стили container
.container{
	max-width: 1778px;
	margin: auto;
	padding: 0 20px;
}
.title{
	color: $font-color;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	position: relative;
	margin-bottom: 30px;
	a::before{
		content: '';
		opacity: 0;
		top: 50%;
		transform: translate3d(0,-50%,0);
		left: -30px;
		width: 20px;
		height: 20px;
		background-image: url(../img/hiddenLink.svg);
		position: absolute;
		cursor: pointer;
		transition: all .3s ease-in-out;
	}
	&:hover{
		a::before{
			opacity: .5;
		}
	}
}
.subtitle{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: $accent;
}
.homepage__title{
	margin-bottom: 25px;
}
.homepage__subtitle{
	margin-bottom: 40px;
}
.header__nav-left,
.header__nav-right{
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
	&::before{
		content: '';
		background: $white-opacity;
		bottom: 0;
		position: absolute;
		top: 0;
		width: 1px;
		z-index: -1;
	}
}
.header__nav-left{
	left: 0;
	&::before{
		left: 31.5px;
	}
	.header__nav-inner{
		padding-left: 30px;
		text-align: left;
	}
	.header__nav-item{
		transition: all .3s ease-in-out;
		border-left: 4px solid $border-color;
		height: 90px;
		button{
			margin: 0;
			height: 100%;
			text-align: left;
			background: none;
			color: $font-color;
			padding: 20px;
			font-size: 25px;
			font-weight: 300;
			letter-spacing: 0.15em;
			position: relative;
			transition: all .3s ease-in-out;
			display: block;
			span{
				display: block;
				white-space: nowrap;
				position: absolute;
				opacity: 0;
				transform: translate(0, -15px);
				transition: all .3s ease-in-out;
				font-size: 16px;
			}
		}
		&:hover{
			border-left: 4px solid $accent;
			button{
				color: $accent;
			}
			span{
				color: $accent;
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
}
.header__nav-right{
	right: 0;
	&::before{
		right: 31.5px;
	}
	.header__nav-inner{
		padding-right: 30px;
		text-align: right;
	}
	.header__nav-item{
		transition: all .3s ease-in-out;
		border-right: 4px solid $border-color;
		height: 90px;
		button{
			height: 100%;
			direction: rtl;
			text-align: right;
			background: none;
			color: $font-color;
			padding: 20px;
			font-size: 25px;
			font-weight: 300;
			letter-spacing: 0.15em;
			position: relative;
			transition: all .3s ease-in-out;
			display: block;
			span{
				text-align: right;
				display: block;
				white-space: nowrap;
				position: absolute;
				opacity: 0;
				transform: translate(0, -15px);
				transition: all .3s ease-in-out;
				font-size: 16px;
			}
		}
		&:hover{
			border-right: 4px solid $accent;
			button{
				color: $accent;
			}
			span{
				color: $accent;
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
}
.header__nav-item + .header__nav-item{
	margin-top: 50px;
}
// стилизация homepage
.homepage__inner{
	min-height: 100vh;
	width: 100%;
	height: -webkit-fill-available;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.logo{
	height: 140px;
}
.path1 {
	animation: soaring 5s infinite ease-in-out .3s;
}
.path2 {
	animation: soaring 5s infinite ease-in-out;
}
.path3 {
	animation: soaring 5s infinite ease-in-out .5s;
}
.homepage__human{
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	border: 5px solid #536DFE;
	filter: drop-shadow(0px 0px 10px #637BFF);
	animation: flashing 3s infinite ease-in-out;
	margin: 60px 0;
	.homepage__human-img{
		padding: 5px;
		background-color: $body-background;
		border-radius: inherit;
		width: inherit;
		height: inherit;
	}
}
.social{
	display: flex;
}
.social__item{
	width: 40px;
	height: 40px;
	svg{
		width: inherit;
		height: inherit;
		path{
			transition: all .3s ease-in-out;
		}
	}
}
.socail__link:hover{
	svg path{
		fill: $accent;
	}
}
.social__item + .social__item{
	margin-left: 20px;
}
.popup-menu{
	background: $bg-color;
	height: 90px;
	position: fixed;
	top: 50%;
	left: 33px;
	overflow-y: auto;
	&::-webkit-scrollbar{
		display: none;
	}
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
	background: transparent;
}
::-webkit-scrollbar-thumb{
	background: #536DFE;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: #3c4daf;
}
.popup__content{
	width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	padding: 100px 20px;
	opacity: 0;
	transform: translate3d(0,30%,0);
	transition: .5s;
}
.posts__content{
	flex-wrap: wrap;
    display: flex;
}
// стили для постов
.post-news {
    flex: 0 0 33.3333%;
    transition: all .75s ease;
}
.post__video{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
	top: 0;
	left: 0;
	z-index: -1;
}
.post-media{
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 60px 120px #000;
    position: relative;
    flex: 0 0 50%;
    transition: all .25s ease;
	display: block;
	border-radius: 20px;
}
.post-media-overlay{
	border-radius: 20px;
	align-items: flex-end;
    background: rgba(51, 72, 195, 0.7);
    color: #000;
    height: 100%;
    left: 0;
	//mix-blend-mode:multiply;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    filter: alpha(opacity=0);
    opacity: 0;
	transition: all .3s;
}
.post-news {
	margin-bottom: 120px;
}
.post-news:hover .post-media {
	transform: perspective(1440px) rotateX(10deg) rotateY(10deg) scale3d(1, 1, 1) translate(15px, 0) !important;
	transition: all .3s;
}
.post-news:hover .post-content {
	transform: perspective(1440px) rotateX(-10deg) rotateY(-10deg) scale3d(1, 1, 1) translate(-15px, 40px) !important;
}
.post-news:nth-child(odd) .post-media {
	-moz-transform: translate(15px, 0);
	-moz-transform-origin: left top;
	-ms-transform: translate(15px, 0);
	-ms-transform-origin: left top;
	-o-transform: translate(15px, 0);
	-o-transform-origin: 100% 0;
	-webkit-transform: translate(15px, 0);
	-webkit-transform-origin: left top;
	transform: translate(15px, 0);
	transform-origin: left top;
}
.post-news:nth-child(even) .post-media {
	order: 1;
	-moz-transform: translate(-15px, 40px);
	-moz-transform-origin: left top;
	-ms-transform: translate(-15px, 40px);
	-ms-transform-origin: left top;
	-o-transform: translate(-15px, 40px);
	-o-transform-origin: 100% 0;
	-webkit-transform: translate(-15px, 40px);
	-webkit-transform-origin: left top;
	transform: translate(-15px, 40px);
	transform-origin: left top;
}
.post-news {
	margin-bottom: 0;
}
.post-news:nth-child(3n + 1) .post-media {
	-moz-transform: translate(15px, 0);
	-moz-transform-origin: left top;
	-ms-transform: translate(15px, 0);
	-ms-transform-origin: left top;
	-o-transform: translate(15px, 0);
	-o-transform-origin: 100% 0;
	-webkit-transform: translate(15px, 0);
	-webkit-transform-origin: left top;
	transform: translate(15px, 0);
	transform-origin: left top;
}
.post-news:nth-child(3n-1) .post-media {
	order: 1;
	-moz-transform: translate(0, 40px);
	-moz-transform-origin: left top;
	-ms-transform: translate(0, 40px);
	-ms-transform-origin: left top;
	-o-transform: translate(0, 40px);
	-o-transform-origin: 100% 0;
	-webkit-transform: translate(0, 40px);
	-webkit-transform-origin: left top;
	transform: translate(0, 40px);
	transform-origin: left top;
}
.post-news:nth-child(3n) .post-media {
	order: 1;
	-moz-transform: translate(-15px, 0);
	-moz-transform-origin: left top;
	-ms-transform: translate(-15px, 0);
	-ms-transform-origin: left top;
	-o-transform: translate(-15px, 0);
	-o-transform-origin: 100% 0;
	-webkit-transform: translate(-15px, 0);
	-webkit-transform-origin: left top;
	transform: translate(-15px, 0);
	transform-origin: left top;
}
.post-media {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 60px 120px #000;
	position: relative;
	flex: 0 0 50%;
	transition: all 0.25s ease;
}
.post-media:hover .post-media-overlay {
	filter: alpha(opacity=100);
	opacity: 1;
	zoom: 1;
}
.post-media::before {
	content: "";
	display: block;
	padding-top: 95%;
}
.post-media img {
	width: 100%;
}
.post-media-overlay h2 {
	font-size: 1.5em;
	margin: 0;
	padding: 40px 50px;
	color: #fff;
}
// секция с навыками
.list__item + .list__item{
	margin-top: 50px;
}
.list__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
}
.list__rating{
	display: inline-flex;
	font-size: 20px;
	img + img{
		margin-left: 10px;
	}
}
.list__number{
	align-self: flex-end;
	margin-left: 10px;
}
.closePopup,
.closeBurger{
	margin: 0 auto;
	display: block;
	width: 38px;
	height: 38px;
	background: none;
	background-image: url('../img/close.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.closeBurger{
	margin-right: 0;
}
.burger-btn{
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	color: #fff;
	font-size: 20px;
	svg{
		width: 40px;
		height: 40px;
	}
}
.burger-menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 90%;
	height: 100%;
	background: #111111;
	z-index: 999;
	padding: 20px;
	transition: .3s;
	transform: translate3d(100%,0,0);
}
.burger__list{
	margin-top: 50px;
}
.burger__item + .burger__item{
	margin-top: 50px;
}
.burger__item{
	text-align: right;
	border-right: 4px solid #fff;
	padding-right: 20px;
	transition: .3s;
	&:hover{
		border-right: 4px solid #536dfe;
		span{
			color: #536dfe;
		}
	}
	button{
		color: #fff;
		background: none;
		text-align: right;
		font-size: 20px;
		span{
			display: block;
			font-size: 40px;
		}
	}
}
.burger-menu.active{
	transform: translate3d(0,0,0);
}
@keyframes soaring {
	50%{
		transform: translate3d(0, 10px, 0);
	} 100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes flashing {
	0%{
		filter: drop-shadow(0px 0px 10px #637BFF);
	} 50% {
		filter: drop-shadow(0px 0px 15px #637BFF);
	} 100% {
		filter: drop-shadow(0px 0px 10px #637BFF);
	}
}
@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}
@media (max-width: 992px) {
	.closePopup{
		margin-bottom: 50px;
	}
	.popup__content{
		padding: 20px;
	}
	.header__nav-left,
	.header__nav-right{
		display: none;
	}
	.post-news{
		flex: 0 0 100%;
	}
	.post-news:nth-child(even) .post-media{
		transform: translate(0,0);
	}
	.post-news:nth-child(3n+1) .post-media{
		transform: translate(0,0);
	}
	.post-news:nth-child(3n) .post-media{
		transform: translate(0,0);
	}
	.post-news:nth-child(3n-1) .post-media{
		transform: translate(0,0);
	}
	.burger-btn{
		display: block;
	}
	.post-media-overlay h2 {
		padding: 0 0 50px 50px;
	}
}
@media (max-width: 700px) {
	.list__item{
		flex-direction: column;
		align-items: flex-start;
	}
	.list__text{
		margin-bottom: 20px;
	}
}
@media (max-width: 520px) {
	.post-media-overlay h2 {
		padding: 0 0 30px 30px;
		font-size: 16px;
	}
}
@media (max-width: 479px) {
	.closePopup,
	.closeBurger,
	.burger-btn svg{
		width: 30px;
		height: 30px;
	}
	.homepage__human{
		margin: 20px 0;
	}
	.title{
		font-size: 20px;
	}
	.post-media-overlay h2 {
		padding: 20px;
	}
	.burger__item button span {
		font-size: 30px;
	}
	.list__text{
		font-size: 25px;
	}
	.list__number{
		font-size: 16px;
	}
	.list__rating img{
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 380px) {
	.list__rating img{
		width: 20px;
		height: 20px;
	}
}
@media (max-width: 360px) {
	.post-media-overlay h2 {
		font-size: 12px;
		padding: 20px;
	}
}