@use 'sass:math';
// Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*::before,*::after{ -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 16px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
// --------------------
// атоматический расчет em, rem
// REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
// EM
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
// Адаптивное свойство
$maxWidth: 1920;
$maxWidthContainer: "размер конейнера";

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		// Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2{
		// Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else{
		// Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}
// подключение шрифта
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
}
// скроллбар
	::-webkit-scrollbar{
		width: 15px;
	}
	::-webkit-scrollbar-track{
		background: #fff;
	}
	::-webkit-scrollbar-thumb{
		background: #536DFE;
		border: 4px solid #fff;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover{
		background: #3c4daf;
	}
// настройка для прижатия footer к низу страницы
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
// плавная прокрутка
html{
	scroll-behavior: smooth;
}
// стили container
.container{
	max-width: 990px;
	margin: auto;
	padding: 0 20px;
}
.container-two{
	max-width: 480px;
	margin: auto;
	padding: 0 20px;
	height: 100%;
}
.flex-js-sb{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.flex-js-c{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
// стилизация header
.header{
	width: 100%;
	height: rem(70);
	&__button-theme{
		width: rem(30);
		height: rem(30);
		background: none;
	}
}
// стилизация секции info
.info{
	width: 100%;
	height: 100%;
	text-align: center;
	&__avatar-logo{
		width: rem(200);
		height: rem(200);
		max-width: 100%;
		border-radius: 50%;
		border: 5px solid #536DFE;
		padding: 5px;
		object-fit: cover;
		cursor: pointer;
		margin-bottom: em(40);
	}
	&__title{
		font-weight: 700;
		font-size: em(30);
		color: #26272C;
		margin-bottom: em(13.33331);
	}
	&__description{
		font-weight: 600;
		font-size: em(20);
		color: #979797;
		margin-bottom: em(32);
	}
	&__social{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: em(40);
		a{
			margin-right: em(20);
			&:last-child{
				margin: 0;
			}
		}
	}
	&__cards{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(3, minmax(93.3px, 146.6px));
		grid-auto-rows: repeat(auto-fit, 100%);
		margin-bottom: em(40);
	}
	.card{
		&__number{
			display: inline-block;
			font-weight: 700;
			font-size: em(30);
			color: #26272C;
			margin-bottom: em(5.333331);
		}
		&__description{
			font-weight: 600;
			font-size: em(18);
			color: #979797;
			line-height: em(20);
		}
	}
	&__cv-button{
		max-width: 100%;
		width: 200px;
		height: 60px;
		color: #fff;
		font-weight: 700;
		font-size: em(18);
		background: #536DFE;
		box-shadow: 0px 0px 20px rgba(83, 109, 254, 0.5);
		border-radius: 10px;
		padding: 20px;
		transition: .1s ease-in-out;
		margin-bottom: em(53.3333);
		img{
			width: 20px;
			margin-left: 10px;
		}
		&:active{
			transform: scale(0.95);
			transition: .1s ease-in-out;
		}
	}
	&__switches{
		width: 100%;
		height: rem(80);
		background: #C2C3C5;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		margin-bottom: em(60);
		button{
			color: #26272C;
			font-weight: 700;
			font-size: em(20);
			background: none;
			border-radius: 10px;
			width: 200px;
			height: 60px;
			max-width: 100%;
			transition: .3s ease-in-out;
		}
	}
	&__portfolio-btn.active,
	&__skills-btn.active{
		background: #fff;
		transition: .3s ease-in-out;
	}
}
// стилизация секции illustrate
.illustrate{
	width: 100%;
	height: 100%;
	margin-bottom: em(60);
}
.illustrate__portfolio-cards{
	display: none;
	grid-template-columns: repeat(auto-fit, minmax(280px, 455px));
	grid-auto-rows: 250px;
	grid-template-rows: 250px;
	grid-gap: 40px;
	justify-content: center;
}
.illustrate__portfolio-cards.active{
	display: grid;
}
.illustrate__portfolio-card{
	background-color: #979797;
	border-radius: 30px;
	display: flex;
	position: relative;
	transition: .5s ease-in-out;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		border-radius: inherit;
		object-fit: cover;
	}
	&:hover{
		.illustrate__card-info{
			visibility: visible;
			opacity: 1;
			pointer-events: all;
			transition: .5s ease-in-out;
			bottom: 0;
		}
	}
}
.illustrate__card-info{
	width: 100%;
	height: 100%;
	left: 0;
	bottom: -100%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: inherit;
	padding: 20px;
	background-color: #00000099;
	backdrop-filter: blur(12px);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: .5s ease-in-out;
	a{
		color: #fff;
		font-weight: 600;
		font-size: em(16);
		background: #536DFE;
		padding: 15px 20px;
		border-radius: 10px;
	}
}
.illustrate__card-title{
	color: #fff;
	font-weight: 600;
	font-size: em(20);
}
.illustrate__skills{
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}
.illustrate__skills.active{
	display: block;
}
.illustrate__skills-title{
	color: #26272C;
	font-weight: 600;
	font-size: em(25);
	margin-bottom: 2em;
}
.illustrate__skills-cards{
	.container-two{
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, minmax(120px, 200px));
		grid-auto-rows: auto;
		grid-template-rows: auto;
		grid-row-gap: 40px;
		grid-column-gap: 20px;
		justify-content: center;
	}
}
.illustrate__skills-card{
	display: flex;
}
.illustrate__skills-mark{
	width: 20%;
}
.illustrate__skills-info{
	width: 80%;
	text-align: start;
	padding: 0 10px;
}
.illustrate__skills-subtitle{
	color: #26272C;
	font-weight: 600;
	font-size: em(20);
	margin-bottom: 0.5em;
}
.illustrate__skill-desctiption{
	color: #979797;
	font-weight: 500;
}
// стилизация footer
.footer{
	width: 100%;
	height: 100px;
	color: #979797;
	font-weight: 500;
	a{
		color: #979797;
		font-weight: 500;
		&:hover{
			text-decoration: underline;
		}
	}
}
// стилизация модального окна для изображения
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
}
.modalContent{
	margin: auto;
	display: block;
	width: 450px;
	max-width: 100%;
	border-radius: 30px;
}
.modalContent{
	animation: zoom 0.6s;
}
.modal-wrapper{
	display: flex;
	position: relative;
}
.close{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #f1f1f1;
	font-size: em(40);
	font-weight: 600;
	transition: .3s;
	z-index: 2;
	animation: zoom .8s;
}
.close:hover, .close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@keyframes zoom{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}
@media screen and (max-width: 479px) {
	.modalContent{
		width: 100%;
	}
}
@media (max-width: 1920px) {
	.info__avatar-logo{
		width: calc(150px + (200 - 150) * ((100vw - 320px) / (1920 - 320)));
		height: calc(150px + (200 - 150) * ((100vw - 320px) / (1920 - 320)));
	}
	.info__title{
		font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
	}
	.info__description{
		font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
	}
	.card{
		.card__description{
			font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
		}
	}
	.info__switches{
		button{
			font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
		}
	}
	.illustrate__skills-subtitle{
		font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
	}
	.illustrate__skills-title{
		font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
	}
}
@media (max-width: 479px) {
	.info__switches{
		button{
			width: 46%;
		}
	}
}