$body-background: #262626;
$math: calc(1vw + 1vh);
$white-opacity: rgba(255, 255, 255, 0.25);
$font-color: #fff;
$accent: #536DFE;
$accent-2: #2C3C96;
$border-color: #fff;
$border-color-hover: $accent;
$bg-color: #1E1E1E;