@import './var.scss';
@import './main.scss';
.tabs{
	background-color: var(--tabBg);
	width: 100%;
	max-width: 27.5rem;
	border-radius: 0.625em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.625em;
	margin-bottom: 3.75em;
	&__button{
		height: 3.75rem;
		width: 50%;
		border-radius: inherit;
		font-weight: 700;
		font-size: 1.25em;
		color: var(--second);
	}
	&__button.active{
		background-color: var(--bg);
		transition: all .3s ease-in-out;
	}
	&__button + &__button{
		margin-left: 1.25em;
	}
}
.cards {
	width: 100%;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 455px));
    grid-auto-rows: 250px;
    grid-template-rows: 250px;
    grid-gap: 40px;
    justify-content: center;
}
.card{
	border-radius: 0.8571428571428571em;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	font-weight: 800;
	color: var(--bg);
	transition: all 0.5s ease;;
	opacity: 0;
	transform: translate3d(0, 50%, 0);
	&:hover .card__info{
		visibility: visible;
		opacity: 1;
		pointer-events: all;
		bottom: 0;
	}
	&__info{
		width: 100%;
		height: 100%;
		left: 0;
		font-size: 20px;
		font-weight: 600;
		bottom: -100%;
		position: absolute;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		border-radius: inherit;
		padding: 1.25em;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(12px);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: 0.5s ease-in-out;
		text-align: center;
	}
}
.card.animate{
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.skills{
	display: grid;
	grid-template-columns: repeat(2, minmax(120px, 200px));
	grid-auto-rows: auto;
	grid-template-rows: auto;
	grid-row-gap: 40px;
	grid-column-gap: 20px;
	justify-content: center;
	&__title{
		font-size: 25px;
		margin-bottom: 2em;
		text-align: center;
	}
	&__card {
		display: inline-flex;
		align-items: center;
	}
	&__text{
		font-size: 20px;
		font-weight: 600;
		padding: 0 0.5em;
	}
}
@media screen and (max-width: 380px) {
	.tabs__button,
	.card__info{
		font-size: 14px;
	}
	.skills__title{
		font-size: 20px;
	}
	.skills__text{
		font-size: 16px;
	}
}